.login{ 
    height: 100vh; 
    display: flex; 
    align-items: center;
}

.login-form {
    background-color: #966D5B; /* base */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #32191D; /* dark */
    width: 50vw;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #32191D; /* dark */
}

.input-group input {
    width: 95%;
    height: 2%;
    padding: 2%;
    border: 1px solid #32191D; /* dark */
    border-radius: 5px;
}
