.button {
    background-color: #6E262E;
    border: none;
    color: white;
    padding: 5% 10%;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Palatino;
}

.button:hover {
    background-color: #7D392D;
}
