.header {
    display: flex;
    background-color: #966D5B;
    height: fit-content;
    width: 95%;
    font-weight: bold;
    font-size: 50px;
    font-family: Palatino;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    text-shadow: rgba(100, 20, 20, 0.5) 2px 2px 4px;
    color: #32191D;
    margin: 1%;
}

.header button{
    padding: 12px 5%;
    background-color: #7e5b4d;
}