.post {
    font-family: Baskerville;
    list-style-type: none;
    padding: 3%;
    box-shadow: #0000001a 0px 4px 8px;
    margin-bottom: 5%;
    border-radius: 3%;
    text-align: justify;
    color: #f2f3f5;
}

.post-blueish {
    background-color: #505764;
}

.post-redish {
    background-color: #6e262e;
}

.post h1{
    text-align: left;
    margin-bottom: 0%;
}

.post button{
    background-color: #f2f3f5;
    color: black;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post button:hover {
    background-color: #bec1c7;
}

.buttons {
    padding-left: 8%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}